body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #915ae9, #000000);
}

/*Caixa de login*/
.login-box {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(5, 5, 5, 0.2);
}

/*Container central*/
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*título*/
.login-box h2 {
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
}

/* Estilo do Texto */
.login-box p {
  margin-bottom: 25px;
  color: #000000;
}

/*estilo dos campos de entrada de texto*/
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #4b1b8a;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

/*efeito de foco nos campos de entrada*/
.login-box input :focus {
  border-color: #4b1b8a;
  outline: none;
  box-shadow: 0px 0px 5px rgba(67, 11, 112, 0.5);
}

/* Estilo do botão de login */
.login-box button {
  width: 100%;
  padding: 12px;
  background: #25088f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/*efeito hover botão de login*/
.login-box button:hover {
  font-size: 17px;
  background-color: rgb(19, 12, 65);
  box-shadow: 0px 0px 15px rgba(5, 5, 5, 0.2);
}

.link {
  display: block;
  margin-top: 15px;
  color: #3483fa;
  text-decoration: none;
}
